/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #000;
}

/* APP */
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #d9d4d4;
}

/* HEADER (igual ritual) */
.header-ritual {
    background: linear-gradient(135deg, #1a1a1a, #2a2a2a);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

/* TEXTO */
.left-text {
    font-size: 20px;
    line-height: 1.5;
}

/* BOTÃO DESTAQUE */
.btn-destaque {
    margin-top: 12px;
    padding: 7px 12px;
    font-size: 11px;
    background: #c46a2c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* LOGO */
.logo-area {
    text-align: center;
}

.logo-area img {
    width: 60px;
    margin-bottom: 5px;
}

.logo-area h1 {
    font-size: 20px;
}

.logo-area p {
    font-size: 12px;
    color: #ccc;
}

/* CONTAINER */
.favoritos-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ÍCONE TOPO */
.topo-favoritos {
    width: 100%;
    text-align: right;
    font-size: 22px;
    margin-bottom: 15px;
}

/* LISTA */
.lista-favoritos {
    width: 100%;
    max-width: 400px;
}

/* CARDS */
.card-favorito {
    width: 100%;
    height: 120px;
    background: #eeeeee;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* BOTÃO SALVAR */
.btn-salvar {
    margin-top: 10px;
    padding: 12px 40px;
    background: #c46a2c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background: #ffffff;
    text-align: left;
    padding: 12px;
    font-size: 12px;
    color: #000;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .header-ritual {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .card-favorito {
        height: 100px;
    }
}