/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3cdca;
}

/* CONTAINER */
.pagina {
    max-width: 900px;
    margin: 20px auto;
    background-color: #c9c2bf;
    border-radius: 8px;
    overflow: hidden;
}



/* ================= HEADER ================= */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 8px 15px;
}

/* LOGO */
.logo img {
    height: 28px;
}

/* MENU */
.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: #030007;
    font-size: 13px;
}

/* ================= BANNER ================= */
.banner {
    background: linear-gradient(90deg, #1c1c1c, #3b3b3b);
    color: white;
    padding: 20px;
}

.banner-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-texto h2 {
    font-size: 20px;
    line-height: 1.4;
}

.banner-texto button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #c47a2c;
    border: none;
    color: white;
    font-size: 11px;
    cursor: pointer;
}

.banner-logo h1 {
    font-size: 24px;
}

.banner-logo p {
    font-size: 12px;
    color: #ddd;
}

/* ================= LOGIN ================= */
.area-form {
    padding: 40px;
}

/* TÍTULO */
.titulo-login {
    margin-bottom: 20px;
    font-size: 18px;
}

/* FORM CENTRALIZADO */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INPUTS GRANDES */
.formulario input {
    width: 70%;
    margin: 20px 0;
    padding: 18px;
    border-radius: 20px;
    border: none;
    background: #eeeeee;
    font-size: 16px;
    text-align: center;
}

/* BOTÃO */
.btn-criar {
    width: 70%;
    margin-top: 10px;
    padding: 18px;
    border-radius: 20px;
    border: none;
    background: #e6e6e6;
    color: #a35d1c;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-criar:hover {
    background: #dcdcdc;
}

/* ================= RODAPÉ ================= */
.rodape-login {
    height: 120px;
    background: linear-gradient(90deg, #1c1c1c, #3b3b3b);
}

/* FOOTER  */
.footer {
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    font-size: 13px;
    background: #fff;
}