/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #000;
}

/* APP */
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #d9d4d4;
}

/* ========================= */
/* HEADER PADRÃO */
/* ========================= */

.header {
    width: 100%;
    height: 96px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;

    position: relative;
    display: flex;
    align-items: center;
}

/* CONTAINER */
.header-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;

    display: flex;
    align-items: center;
}

/* LOGO */
.logo img {
    height: 64px;
}

/* MENU CENTRALIZADO */
.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav ul li a {
    color: #1a1a1a; 
}

.nav ul li a[href="ritual.html"] 
{
    color: #c46a2c; 
    font-weight: bold;
}

/* ICONES */
.menu-icons {
    display: flex;
    align-items: center;
    gap: 22px;

    margin-left: auto; 
}

.menu-icons img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* ========================= */
/* HEADER RITUAL  */
/* ========================= */

.header-ritual {
    background: linear-gradient(135deg, #1a1a1a, #2a2a2a);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

/* TEXTO ESQUERDO */
.left-text {
    font-size: 20px;
    line-height: 1.5;
}

.btn-destaque {
    margin-top: 12px;
    padding: 7px 12px;
    font-size: 11px;
    background: #c46a2c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* LOGO RITUAL */
.logo-area {
    text-align: center;
}

.logo-area img {
    width: 60px;
    margin-bottom: 5px;
}

.logo-area h1 {
    font-size: 20px;
}

.logo-area p {
    font-size: 12px;
    color: #ccc;
}

/* CONTEÚDO */
.ritual-container {
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 20px;
}

/* TÍTULO */
.ritual-container h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

/* ETAPAS */
.etapas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.etapa {
    text-align: center;
    font-size: 13px;
}

/* PASSOS */
.passos h3 {
    margin-bottom: 15px;
}

/* CARDS */
.card {
    display: flex;
    align-items: center;
    background: #eeeeee;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 35px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

/* ÍCONES */
.icone {
    width: 45px;
    height: 45px;
    border: 2px solid #4e8b6f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: #4e8b6f;
    font-size: 18px;
}

/* TEXTO */
.texto h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.texto p {
    font-size: 13px;
    color: #555;
}

/* FOOTER */
.footer {
    text-align: left;
    padding: 12px;
    background: #f3f0f0;
    color: rgb(8, 8, 8);
    font-size: 12px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .header-ritual {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .etapas {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        padding: 12px;
    }

    /* MENU volta ao fluxo normal no mobile */
    .nav {
        position: static;
        transform: none;
        margin-top: 10px;
    }

    .header-container {
        flex-direction: column;
        gap: 10px;
    }

    .menu-icons {
        margin-left: 0;
    }
}