* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 96px;
    background-color: #ffffff;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #e5e5e5;
}

.header-container {
    max-width: 1280px;
    width: 100%;

    margin: 0 auto;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 64px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-menu a {
    font-size: 17px;
    font-weight: 500;
    color: #1a1a1a;
    text-decoration: none;
    position: relative;
}

.menu-icons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.menu-icons img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}


.nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #1a1a1a;
}

.hero {
    width: 100%;
    display: block;
}

.banner {
    width: 100%;
    background-color: #2e2e2e;
}

.banner-container {
 max-width: 1600px;   /* limite visual */
    margin: 0 auto;
    position: relative;
    aspect-ratio: 1920 / 600;
    overflow: hidden;
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}

.btn-destaque {
    position: absolute;

    left: 70px;
    bottom: 60px;

    min-width: 300px;
    height: 54px;

    padding: 0 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    color: #ffffff;

    background: linear-gradient(135deg, #e1a066, #c97a3d,#a45b2a);

    border-radius: 8px;

    box-shadow:
        0 0 14px rgba(201, 122, 61, 0.65),
        inset 0 1px 0 rgba(255, 255, 255, 0.25),
        0 6px 14px rgba(0, 0, 0, 0.45);

    transition: 0.3s ease;
}

.btn-destaque:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 20px rgba(227, 168, 111, 0.9),
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        0 8px 18px rgba(0, 0, 0, 0.55);
}
    

    








