* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.header-container {
    max-width: 1200px;
    height: 90px;
    margin: 0 auto;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 46px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #1a1a1a;
}

.icons img {
    width: pointer;
}



